-- CreateTable
CREATE TABLE "accesos_usuario" (
    "id_acceso" BIGSERIAL NOT NULL,
    "id_rol_usuario" BIGINT NOT NULL,
    "descripcion_acceso" VARCHAR(255) NOT NULL,

    CONSTRAINT "accesos_usuario_pk" PRIMARY KEY ("id_acceso")
);

-- CreateTable
CREATE TABLE "agendamiento_clase" (
    "id_agendamiento" BIGSERIAL NOT NULL,
    "id_socio" BIGINT NOT NULL,
    "fecha_agendamiento" DATE NOT NULL,
    "horario_inicio" VARCHAR(10) NOT NULL,
    "horario_hasta" VARCHAR(10) NOT NULL,

    CONSTRAINT "agendamiento_clase_pk" PRIMARY KEY ("id_agendamiento")
);

-- CreateTable
CREATE TABLE "calendario_eventos" (
    "id_evento_calendario" BIGSERIAL NOT NULL,
    "id_tipo_evento" BIGINT NOT NULL,
    "fecha_desde_evento" DATE NOT NULL,
    "fecha_hasta_evento" DATE,
    "costo" BIGINT,

    CONSTRAINT "calendario_eventos_pk" PRIMARY KEY ("id_evento_calendario")
);

-- CreateTable
CREATE TABLE "clubes_habilitados" (
    "id_club_habilitado" BIGSERIAL NOT NULL,
    "nombre_club_habilitado" VARCHAR(255) NOT NULL,
    "esta_habilitado" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "clubes_habilitados_pk" PRIMARY KEY ("id_club_habilitado")
);

-- CreateTable
CREATE TABLE "cuotas_socio" (
    "id_cuota_socio" BIGSERIAL NOT NULL,
    "id_socio" BIGINT NOT NULL,
    "id_tipo_cuota" BIGINT NOT NULL,
    "id_tipo_descuento" BIGINT NOT NULL,
    "fecha_vencimiento" DATE NOT NULL,
    "descripcion" VARCHAR(255) NOT NULL,
    "descuento" REAL,

    CONSTRAINT "cuotas_socio_pk" PRIMARY KEY ("id_cuota_socio")
);

-- CreateTable
CREATE TABLE "eventos" (
    "id_tipo_evento" BIGSERIAL NOT NULL,
    "desc_tipo_evento" VARCHAR(255) NOT NULL,

    CONSTRAINT "eventos_pk" PRIMARY KEY ("id_tipo_evento")
);

-- CreateTable
CREATE TABLE "gastos_club" (
    "id_pago_club" BIGSERIAL NOT NULL,
    "id_tipo_pago" BIGINT NOT NULL,
    "id_usuario" BIGINT NOT NULL,
    "nro_factura" VARCHAR(255) NOT NULL,
    "descripcion" VARCHAR(255) NOT NULL,
    "monto_gasto" BIGINT NOT NULL,
    "ingreso" BOOLEAN DEFAULT false,
    "egreso" BOOLEAN DEFAULT false,

    CONSTRAINT "gastos_club_pk" PRIMARY KEY ("id_pago_club")
);

-- CreateTable
CREATE TABLE "inscripciones" (
    "id_inscripcion" BIGINT NOT NULL,
    "id_socio" BIGINT NOT NULL,
    "id_evento_calendario" BIGINT NOT NULL,
    "desc_inscripcion" VARCHAR(255),
    "fecha_inscripcion" DATE NOT NULL,
    "abonado" BOOLEAN NOT NULL,

    CONSTRAINT "inscripciones_pk" PRIMARY KEY ("id_inscripcion")
);

-- CreateTable
CREATE TABLE "mesas" (
    "id_mesa" BIGSERIAL NOT NULL,
    "desc_mesa" VARCHAR(255) NOT NULL,

    CONSTRAINT "mesas_pk" PRIMARY KEY ("id_mesa")
);

-- CreateTable
CREATE TABLE "pagos_socio" (
    "id_pago_socio" BIGSERIAL NOT NULL,
    "id_cuota_socio" BIGINT NOT NULL,
    "nro_factura" VARCHAR(255) NOT NULL,
    "monto_abonado" BIGINT NOT NULL,
    "fecha_pago" DATE,

    CONSTRAINT "pagos_socio_pk" PRIMARY KEY ("id_pago_socio")
);

-- CreateTable
CREATE TABLE "pases_socio" (
    "id_pase" BIGSERIAL NOT NULL,
    "id_club_habilitado" BIGINT NOT NULL,
    "id_socio" BIGINT NOT NULL,
    "descripcion_traspaso" VARCHAR(255) NOT NULL,
    "monto_pase" BOOLEAN NOT NULL DEFAULT false,
    "doc_adjunto" BOOLEAN NOT NULL DEFAULT false,
    "abonado" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "pases_socio_pk" PRIMARY KEY ("id_pase")
);

-- CreateTable
CREATE TABLE "persona" (
    "id_persona" BIGSERIAL NOT NULL,
    "apellido" VARCHAR(255) NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "cedula" VARCHAR(255) NOT NULL,
    "fecha_nacimiento" DATE NOT NULL,

    CONSTRAINT "persona_pk" PRIMARY KEY ("id_persona")
);

-- CreateTable
CREATE TABLE "reservas" (
    "id_reserva" BIGINT NOT NULL,
    "id_tipo_reserva" BIGINT NOT NULL,
    "id_socio_reserva" BIGINT NOT NULL,
    "id_mesa" BIGINT NOT NULL,
    "horario_reserva_desde" VARCHAR(20),
    "horario_reserva_hasta" VARCHAR(20),
    "fecha_reserva" DATE NOT NULL,

    CONSTRAINT "reservas_pk" PRIMARY KEY ("id_reserva")
);

-- CreateTable
CREATE TABLE "roles_usuario" (
    "id_rol_usuario" BIGSERIAL NOT NULL,
    "descripcion_rol" VARCHAR(255) NOT NULL,

    CONSTRAINT "roles_usuario_pk" PRIMARY KEY ("id_rol_usuario")
);

-- CreateTable
CREATE TABLE "socio" (
    "id_socio" BIGSERIAL NOT NULL,
    "id_tipo_socio" BIGINT NOT NULL,
    "id_persona" BIGINT NOT NULL,
    "correo_electronico" VARCHAR(255),
    "numero_telefono" VARCHAR(255),
    "direccion" VARCHAR(255),
    "ruc" VARCHAR(255),

    CONSTRAINT "socio_pk" PRIMARY KEY ("id_socio")
);

-- CreateTable
CREATE TABLE "socio_reservas" (
    "id_socio_reserva" BIGSERIAL NOT NULL,
    "id_socio" BIGINT NOT NULL,

    CONSTRAINT "socio_reservas_pk" PRIMARY KEY ("id_socio_reserva")
);

-- CreateTable
CREATE TABLE "tipo_cuota" (
    "id_tipo_cuota" BIGSERIAL NOT NULL,
    "desc_tipo_cuota" VARCHAR(255) NOT NULL,
    "monto_cuota" BIGINT NOT NULL,

    CONSTRAINT "tipo_cuota_pk" PRIMARY KEY ("id_tipo_cuota")
);

-- CreateTable
CREATE TABLE "tipo_descuento" (
    "id_tipo_descuento" BIGSERIAL NOT NULL,
    "desc_tipo_descuento" VARCHAR NOT NULL,

    CONSTRAINT "tipo_descuento_pk" PRIMARY KEY ("id_tipo_descuento")
);

-- CreateTable
CREATE TABLE "tipo_pagos" (
    "id_tipo_pago" BIGINT NOT NULL,
    "desc_tipo_pago" VARCHAR(255) NOT NULL,

    CONSTRAINT "tipo_pagos_pk" PRIMARY KEY ("id_tipo_pago")
);

-- CreateTable
CREATE TABLE "tipo_reserva" (
    "id_tipo_reserva" BIGSERIAL NOT NULL,
    "desc_tipo_reserva" VARCHAR(255) NOT NULL,

    CONSTRAINT "tipo_reserva_pk" PRIMARY KEY ("id_tipo_reserva")
);

-- CreateTable
CREATE TABLE "tipo_socio" (
    "id_tipo_socio" BIGSERIAL NOT NULL,
    "desc_tipo_socio" VARCHAR NOT NULL,

    CONSTRAINT "tipo_socio_pk" PRIMARY KEY ("id_tipo_socio")
);

-- CreateTable
CREATE TABLE "usuario" (
    "id_usuario" BIGSERIAL NOT NULL,
    "id_socio" BIGINT NOT NULL,
    "id_acceso" BIGINT NOT NULL,
    "tipo_usuario" VARCHAR(255) NOT NULL,
    "nombre_usuario" VARCHAR(255) NOT NULL,
    "contrasea" VARCHAR(255) NOT NULL,

    CONSTRAINT "usuario_pk" PRIMARY KEY ("id_usuario")
);

-- AddForeignKey
ALTER TABLE "accesos_usuario" ADD CONSTRAINT "roles_usuario_accesos_usuario_fk" FOREIGN KEY ("id_rol_usuario") REFERENCES "roles_usuario"("id_rol_usuario") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "agendamiento_clase" ADD CONSTRAINT "socio_agendamiento_clase_fk" FOREIGN KEY ("id_socio") REFERENCES "socio"("id_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "calendario_eventos" ADD CONSTRAINT "eventos_calendario_eventos_fk" FOREIGN KEY ("id_tipo_evento") REFERENCES "eventos"("id_tipo_evento") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cuotas_socio" ADD CONSTRAINT "socio_cuotas_socio_fk" FOREIGN KEY ("id_socio") REFERENCES "socio"("id_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cuotas_socio" ADD CONSTRAINT "tipo_cuota_cuotas_socio_fk" FOREIGN KEY ("id_tipo_cuota") REFERENCES "tipo_cuota"("id_tipo_cuota") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cuotas_socio" ADD CONSTRAINT "tipo_descuento_cuotas_socio_fk" FOREIGN KEY ("id_tipo_descuento") REFERENCES "tipo_descuento"("id_tipo_descuento") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "gastos_club" ADD CONSTRAINT "tipo_pagos_pagos_club_fk" FOREIGN KEY ("id_tipo_pago") REFERENCES "tipo_pagos"("id_tipo_pago") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "gastos_club" ADD CONSTRAINT "usuario_gastos_club_fk" FOREIGN KEY ("id_usuario") REFERENCES "usuario"("id_usuario") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "inscripciones" ADD CONSTRAINT "calendario_eventos_inscripciones_fk" FOREIGN KEY ("id_evento_calendario") REFERENCES "calendario_eventos"("id_evento_calendario") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "inscripciones" ADD CONSTRAINT "socio_inscripciones_fk" FOREIGN KEY ("id_socio") REFERENCES "socio"("id_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pagos_socio" ADD CONSTRAINT "cuotas_socio_pagos_socio_fk" FOREIGN KEY ("id_cuota_socio") REFERENCES "cuotas_socio"("id_cuota_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pases_socio" ADD CONSTRAINT "clubes_habilitados_pases_socio_fk" FOREIGN KEY ("id_club_habilitado") REFERENCES "clubes_habilitados"("id_club_habilitado") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pases_socio" ADD CONSTRAINT "socio_pases_socio_fk" FOREIGN KEY ("id_socio") REFERENCES "socio"("id_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservas" ADD CONSTRAINT "mesas_reservas_fk" FOREIGN KEY ("id_mesa") REFERENCES "mesas"("id_mesa") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservas" ADD CONSTRAINT "socio_reservas_reservas_fk" FOREIGN KEY ("id_socio_reserva") REFERENCES "socio_reservas"("id_socio_reserva") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservas" ADD CONSTRAINT "tipo_reserva_reservas_fk" FOREIGN KEY ("id_tipo_reserva") REFERENCES "tipo_reserva"("id_tipo_reserva") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "socio" ADD CONSTRAINT "persona_socio_fk" FOREIGN KEY ("id_persona") REFERENCES "persona"("id_persona") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "socio" ADD CONSTRAINT "tipo_socio_socio_fk" FOREIGN KEY ("id_tipo_socio") REFERENCES "tipo_socio"("id_tipo_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "socio_reservas" ADD CONSTRAINT "socio_socio_reservas_fk" FOREIGN KEY ("id_socio") REFERENCES "socio"("id_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario" ADD CONSTRAINT "accesos_usuario_usuario_fk" FOREIGN KEY ("id_acceso") REFERENCES "accesos_usuario"("id_acceso") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario" ADD CONSTRAINT "socio_usuario_fk" FOREIGN KEY ("id_socio") REFERENCES "socio"("id_socio") ON DELETE NO ACTION ON UPDATE NO ACTION;

